- name: Install HAProxy and HAProxy Exporter
  apt:
    name: 
      - haproxy
    state: present


- name: Config file for HAProxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  notify: restart haproxy


- name: start HAProxy service and exporter
  service:
    name: "{{ item }}"
    state: started
  loop:
    - haproxy
