global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        mode    http
        option  httplog
        log 127.0.0.1:8814 local0 info

frontend my_ha_frontend
    bind :88
    default_backend my_ha_backend
    log-format "%ST %Tr"

backend my_ha_backend
{% for i in range(1, agama_container_count + 1) %}
    server docker{{ i }} {{ groups['web_servers'][0] }}:{{ agama_port + i - 1 }}
{% endfor %}
{% for i in range(1, agama_container_count + 1) %}
    server docker{{ i + agama_container_count }} {{ groups['web_servers'][1] }}:{{ agama_port + i - 1 }}
{% endfor %}

listen stats
    bind *:9188
    stats enable
    stats uri /metrics
