server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: "http://{{ groups['loki_servers'][0] }}:3100/loki/api/v1/push"

scrape_configs:
  - job_name: syslog
    static_configs:
      - targets: [localhost]
        labels:
          job: syslog
          hostname: "{{ inventory_hostname }}"
          __path__: /var/log/syslog

  - job_name: agama
    static_configs:
      - targets: [localhost]
        labels:
          job: agama
          hostname: "{{ inventory_hostname }}"
          __path__: /var/log/uwsgi/app/agama.log

  - job_name: nginx_access
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          hostname: "{{ inventory_hostname }}"
          __path__: /var/log/nginx/access.log

  - job_name: nginx_error
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          hostname: "{{ inventory_hostname }}"
          __path__: /var/log/nginx/error.log

  - job_name: agama_sli
    static_configs:
      - targets: [localhost]
        labels:
          job: agama
          hostname: "{{ inventory_hostname }}"
          __path__: /var/log/nginx/agama.log
