- name: Restart MySQL
  service:
    name: mysql
    state: restarted

- name: Restart mysqld-exporter
  systemd:
    name: prometheus-mysqld-exporter
    state: restarted

- name: restart cron
  service:
    name: cron
    state: restarted
