acl corpnets {
    {% for n in corp_nets %}
    {{ n }};
    {% endfor %}
};


options {

	allow-query { corpnets; };
        directory "/var/cache/bind";

        forwarders {
	 8.8.8.8;
	 9.9.9.9;
	
        };

	forward only;
        dnssec-validation no;

};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
