$TTL	604800
{{ mydomain }}.	IN	SOA	ns.{{ mydomain }}. mail.{{ mydomain }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for vm in groups['dns_servers'] %}
{{ mydomain }}.	IN	NS	{{ vm }}.{{ mydomain }}.
{% endfor %}
{% for vm in groups['all'] %}
{{ vm }}.{{ mydomain }}.	IN	A	{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}

backup.{{ mydomain }}.	IN	A	{{ backup_server_ip }}
