- name: Install bind9
  apt:
    name: bind9
    state: present

- name: Install dnspython
  ansible.builtin.apt:
    name: python3-dnspython
    state: present


- template:
    dest: /etc/bind/named.conf.{{ item }}
    src: bind.{{ item }}.j2
  loop:
    - options
    - local
  notify: restart bind
  no_log: true

- template:
    dest: "/var/cache/bind/db.{{ mydomain }}"
    src: db.batice.ttu.j2
    force: no
  no_log: true
  notify:
    - restart bind
    - reload rndc
  when: inventory_hostname in groups['dns_primary']

- template:
    dest: "/var/cache/bind/db.rev"
    src: db.rev.j2
  no_log: true
  notify:
    - restart bind
  when: inventory_hostname in groups['dns_primary']



- name: Flush
  meta: flush_handlers


- name: Enable bind9
  service:
    name: bind9
    state: started
    enabled: true

- name: Install Bind9 exporter
  apt:
    name: prometheus-bind-exporter
    state: present

- name: Ensure Bind exporter is running and enabled
  systemd:
    name: prometheus-bind-exporter
    state: started
    enabled: true


- name: Add A records
  nsupdate:
    key_name: "{{ update_key_name }}"
    key_algorithm: "{{ update_key_algorithm }}"
    key_secret: "{{ dns_update_key }}"
    server: "{{ hostvars[groups['dns_primary'][0]]['ansible_default_ipv4']['address'] }}"
    zone: "{{ mydomain }}."
    record: "{{ item.key }}"
    type: "A"
    value: "{{ item.value }}"
  loop: "{{ dns_a_records | dict2items }}"
  no_log: true
  when: inventory_hostname in groups['dns_primary']
  notify: reload rndc


- name: Add CNAME records for nameserver
  nsupdate:
    key_name: "{{ update_key_name }}"
    key_algorithm: "{{ update_key_algorithm }}"
    key_secret: "{{ dns_update_key }}"
    server: "{{ hostvars[groups['dns_primary'][0]]['ansible_default_ipv4']['address'] }}"
    zone: "{{ mydomain }}."
    record: "{{ item.key }}"
    type: "CNAME"
    value: "{{ item.value }}"
  loop: "{{ nameserver_records | dict2items }}"
  no_log: true
  when: inventory_hostname in groups['dns_primary']
  notify: reload rndc

